
<!DOCTYPE html>

<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1S4CE4M37E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1S4CE4M37E');
</script>
    
    <meta property="og:title" content="見える化アンケート" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="見える化アンケート|アンケートをAIが見える化" />
    <meta property="og:url" content="https://www.mierukaq.com" />
    <meta property="og:site_name" content="見える化アンケート" />
    <meta property="og:image" content="https://www.mierukaq.com/static/image/mierukaq.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Favicon-->
      <link rel="icon" type="image/png" href="/static/image/iconsukashi.png">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->

        <link href="/static/css/styles.css" rel="stylesheet" />
         <title>見える化アンケート|アンケートをAIが見える化</title>
</head>
<body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container text-center">
                <a class="navbar-brand" href="#title"><img src="./static/image/logo.png" class="logo_image" width="80%" height="80%"></a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead masthead-back">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-5">アンケートを<br>簡単にAIが見える化</h1>

                            <h3 class="mb-5">-アンケートを無料で作成-</h3>
                            <form class="form-subscribe" id="contactForm"  action="/result" method="post">
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input maxlength="39" minlength="2" class="form-control form-control-lg" id="emailAddress" type="textarea" placeholder="質問を作成してください" data-sb-validations="required,email" name="page_question" required value="" />
                                    </div>
                                    
                                    <div class="col-auto"><input class="example3" id="submitButton" type="submit" value="質問を作成"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </header>            
        <section class="py-5 bg-light text-center" id="scroll-target">
            <div class="text-center px-5 my-1 center-block　align-items-center" >
                <div class="gx-5">
                    <div class="rise-content scroll_up">
                        <h1><a name="title">見える化アンケートとは</a></h1>
                    </div>
                    <div class="my-5 scroll_up">
                        <h2 class="fw-bolder">1:アンケートを作成</h2>
                        <img class="img-fluid rounded mb-5 mb-lg-0 shadow-lg" src="\static\image\samplequestion.png" alt="..." />
                        <p class="lead fw-normal text-muted mt-2 mb-0">このページで写真のようなアンケートを簡単に無料で作れます。<br>このアンケートページは、あなたのサイトのHTMLに埋め込むことができます。</p>
                    </div>
                    <div class="scroll_up">
                        <h2 class="fw-bolder">2:回答をAIが見える化</h2>
                        <img class="img-fluid rounded mb-5 mb-lg-0 shadow-lg" src="\static\image\sampleword.png" alt="..." />
                        <p class="lead fw-normal text-muted mt-2 mb-0">ワードクラウドで、回答結果を見える化できます。<br>ワードクラウドとは、回答の単語の頻度が多いと大きく表示される機械学習機能です。</p>
                    </div>
                </div>
            </div>
        </section>
        
      <script>
        const elements = document.querySelectorAll('.scroll_up');

function scroll_up() {
  elements.forEach(el => {
    const rect = el.getBoundingClientRect();
    if (rect.top < window.innerHeight) {
      el.classList.add('is-show');
    }
  });
}

window.addEventListener('scroll', scroll_up);

      </script>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <p class="text-muted small mb-4 mb-lg-0">&copy; 2022- Seita    All Rights Reserved.<br> produced by <a href="https://twitter.com/naasee613" target="_blank">Seita Nagai</a></p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://twitter.com/share?url=https://www.mierukaq.com/" rel="nofollow noopener" target="_blank"><i class="bi-twitter fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
